SNVFI_ROOT="/hpc/local/CentOS7/cog_bioinf/SNVFI_DEV"
BIOVCF_PREFIX="/hpc/local/CentOS7/cog_bioinf/bio-vcf/bin/bio-vcf/"
TABIX_PREFIX="/hpc/local/CentOS7/cog_bioinf/tabix-0.2.6/"
VCFTOOLS_PREFIX="/hpc/local/CentOS7/cog_bioinf/vcftools-0.1.14/bin/"
R_PREFIX="/hpc/local/CentOS7/common/lang/R/3.2.2/bin/"
RSCRIPT="/hpc/local/CentOS7/cog_bioinf/SNVFI_DEV/SNVFI_filtering_R.R"
MAX_THREADS=2
